* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.5rem;
  color: white;
  font-size: 20px;
  z-index: 999;
}

header .header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

header .header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

header .header nav .navbar .nav-item {
  padding: 1.5rem 1.5rem;
  border-right: 1px solid white;
}

header .header nav .navbar .nav-item .nav-link {
  color: white;
}

header .header .header-logo {
  position: absolute;
  left: 50%;
  width: 40px;
  height: 60px;
  background-image: url("../img/header/logo.png");
}

header .header .header-link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 30px;
}

header .header .header-link .link-item {
  margin-right: 2rem;
  padding: 1rem 0;
}

#fullpage footer {
  width: 100%;
  font-size: 20px;
}

#fullpage footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 1px solid black;
}

#fullpage footer .footer .footer-toTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.875rem 3rem;
  border-right: 1px solid black;
  cursor: pointer;
}

#fullpage footer .footer .footer-toTop .arrow {
  width: 30px;
}

#fullpage footer .footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3 0 0px;
          flex: 3 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-right: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullpage footer .footer .footer-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fullpage footer .footer .footer-list .item .item-link {
  padding: 0 1.5rem;
  line-height: 3;
  color: black;
}

#fullpage footer .footer .footer-list .item .item-social {
  padding: 0 1rem;
}

#fullpage footer .footer .footer-list .item .item-social .social-img {
  width: 30px;
}

#fullpage footer .footer .footer-subnews {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 2rem;
}

#fullpage footer .footer .footer-subnews .subnews-input {
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#fullpage footer .footer .footer-subnews .subnews-btn {
  position: absolute;
  right: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#fullpage .main-content .section {
  width: 100%;
  height: 100vh;
}

#fullpage .main-content .banner {
  background: url("../img/index/page-1-background.png") scroll no-repeat center/100% 100%;
  color: white;
}

#fullpage .main-content .banner .banner-text {
  position: absolute;
  top: 170px;
  left: 100px;
}

#fullpage .main-content .banner .banner-text .text-title {
  font-size: 64px;
}

#fullpage .main-content .banner .banner-text .text-content {
  font-size: 40px;
}

#fullpage .main-content .banner .banner-link {
  position: absolute;
  right: 80px;
  bottom: 80px;
}

#fullpage .main-content .banner .banner-link .link {
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

#fullpage .main-content .product-describe {
  position: relative;
  background: url("../img/index/page-2-background.png") scroll no-repeat center/100% 100%;
  background-color: #f4ede4;
}

#fullpage .main-content .product-describe .product-describe-container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#fullpage .main-content .product-describe .product-describe-container .arrow {
  padding: 3rem;
  cursor: pointer;
}

#fullpage .main-content .product-describe .product-describe-container .left-arrow {
  border-right: 1px solid black;
}

#fullpage .main-content .product-describe .product-describe-container .right-arrow {
  border-left: 1px solid black;
}

#fullpage .main-content .product-describe .product-describe-container .text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 1rem 2rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullpage .main-content .product-describe .product-describe-container .text .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  font-size: 38px;
}

#fullpage .main-content .product-describe .product-describe-container .text .content {
  width: 50%;
  padding: 0 2rem;
  font-size: 20px;
}

#fullpage .main-content .product-describe .product-describe-container .text .btn {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  padding: 0.1rem 0.875rem;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}

#fullpage .main-content .about {
  background-color: #fffbf6;
}

#fullpage .main-content .about .container {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullpage .main-content .about .container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 72px;
  width: 100%;
  height: 1px;
  background-color: black;
}

#fullpage .main-content .about .container .pic {
  width: 50%;
  height: 100%;
}

#fullpage .main-content .about .container .pic .pic-img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

#fullpage .main-content .about .container .text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullpage .main-content .about .container .text .title {
  font-size: 54px;
}

#fullpage .main-content .about .container .text .content {
  font-size: 32px;
}

#fullpage .main-content .about .container .text .link-group {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullpage .main-content .about .container .text .link-group .link-text {
  margin-right: 80px;
  padding: 1rem 2rem;
  font-size: 32px;
}

#fullpage .main-content .about .container .text .link-group .link-btn {
  background-color: transparent;
  border: none;
  padding: 1rem 2rem;
}

#fullpage .main-content .stories {
  position: relative;
  background-color: #fffbf6;
}

#fullpage .main-content .stories .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullpage .main-content .stories .wrap .title {
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-size: 54px;
}

#fullpage .main-content .stories .wrap .link {
  position: absolute;
  left: 4rem;
  bottom: 4rem;
  padding: 0.375rem 1rem;
  border: 1px solid black;
  font-size: 28px;
}

#fullpage .main-content .stories .wrap .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  height: 100%;
  margin-left: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullpage .main-content .stories .wrap .content .item {
  width: calc(100% / 3);
  max-width: 500px;
  margin: 0 2rem 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullpage .main-content .stories .wrap .content .item .pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50% 50% 0 0;
}

#fullpage .main-content .stories .wrap .content .item .pic .pic-img {
  width: 100%;
  height: 100%;
}

#fullpage .main-content .stories .wrap .content .item .text {
  margin-top: 1rem;
  border-top: 1px solid black;
  font-size: 24px;
}

#fullpage .main-content .section {
  width: 100%;
  height: 100vh;
}

#fullpage .main-content .product-info-1 {
  background: url("../img/product/tea_icon_osmanthus oolong.png") scroll no-repeat 120% 225%/50% 80%;
  background-color: #ECDFCE;
}

#fullpage .main-content .product-info-1 .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

#fullpage .main-content .product-info-1 .wrap .pic {
  width: 400px;
  height: 500px;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
}

#fullpage .main-content .product-info-1 .wrap .pic img {
  width: 100%;
  height: 100%;
}

#fullpage .main-content .product-info-1 .wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#fullpage .main-content .product-info-1 .wrap .item .text {
  width: 50%;
}

#fullpage .main-content .product-info-1 .wrap .item .product-pic {
  width: 50%;
}

#fullpage .main-content .product-info-1 .wrap .item .product-pic img {
  width: 100%;
}
/*# sourceMappingURL=all.css.map */