.nav-border{
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.header-right-border{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.border-white{
    border-color: white;
}
.border-black{
    border-color: black;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
