.section {
    @include size(100%, 100vh);

    @include breakpoint(lap){
        @include size(100%);
    }
}
.nav-border{
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    @include breakpoint(lap){
        border-top: 1px solid;
        border-right: none;
        border-bottom: none;
    }
}
.header-right-border{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.border-white{
    border-color: white;
    @include breakpoint(lap){
        border-color: transparent;
    }
}
.border-black{
    border-color: black;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.ph-border-black{
    @include breakpoint(lap){
        border-color: black;
    }
}
.ph-text-black{
    @include breakpoint(lap){
        color: black;
    }
}
.ph-border-white{
    @include breakpoint(lap){
        border-color: white;
    }
}
.ph-text-white{
    @include breakpoint(lap){
        color: white;
    }
}