* {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
//header
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    font-size: 1.2rem;
    z-index: 999;

    @include breakpoint(pad){
        width: 100vw;
    }
    .header {
        position: relative;
        display: flex;
        nav {
            .navbar {
                position: relative;
                display: flex;
                padding: 0;

                @include breakpoint(lap){
                    position: absolute;
                    top: -1.5rem;
                    right: -100%;
                    display: block;
                    visibility: hidden;
                    width: 100%;
                    height: 100vh;
                    padding-top: 96px;
                    transition: 1s;
                    z-index: 999;
                    background-color: white;
                };
                .nav-item {

                    @include breakpoint(lap){
                        &:last-child{
                            border-bottom: 1px solid;
                        }
                    }
                    .nav-link {
                        display: flex;
                        justify-content: center;
                        padding: 1.5rem 1.75rem;

                        @include breakpoint(lap){
                            justify-content: flex-start;
                            padding: 1.5rem 1rem;
                            &:hover{
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
            }
            .ph-navbar-show{
                visibility:visible;
                right: 0;
            }
        }
        .header-right-box{
            display: flex;
            align-items: center;
            flex: 1 0 0;
            height: 70px;

            @include breakpoint(pad){
                height: 55px;
            }
            .header-logo {
                position: absolute;
                left: 50%;
                width: 40px;
                height: 60px;

                @include breakpoint(pad){
                    width: 30px;
                    height: auto;
                }
                img{
                    @include size(100%);
                }
            }
            .header-link {
                position: absolute;
                display: flex;
                right: 30px;

                @include breakpoint(lap){
                    left: 30px;
                    right: 0;
                }
                @include breakpoint(pad){
                    left: 15px;
                    right: 0;
                }
                .link-item {
                    margin-right: 2rem;
                    padding: 1rem 0;

                    @include breakpoint(pad){
                        margin-right: 1rem;
                        width: 25px;
                    }
                    img{
                        @include size(100%,auto);
                    }
                }
            }
            .ph-menu{
                display: none;
                background: url("../img/header/ph-menu.png") no-repeat scroll center/100% 100%;

                @include breakpoint(lap){
                    position: absolute;
                    display: block;
                    right: 50px;
                    width: 25px;
                    height: 20px;
                    z-index: 999;
                }
                @include breakpoint(pad){
                    position: absolute;
                    display: block;
                    right: 10px;
                    width: 25px;
                    height: 20px;
                    z-index: 999;
                }
            }
        }
    }
}

//footer
#fullpage {
    footer {
        width: 100%;
        font-size: 20px;
        .footer {
            display: flex;
            width: 100%;
            border-top: 1px solid black;
            .footer-toTop {
                display: flex;
                flex-direction: column;
                padding: 0.875rem 3rem;
                border-right: 1px solid black;
                color: black;

                @include breakpoint(lap){
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem 0.875rem;
                    font-size: 1rem;
                }
                cursor: pointer;
                .arrow {
                    width: 30px;

                    @include breakpoint(lap){
                        width: 20px;
                        padding-bottom: 0.375rem;
                    }
                }
            }
            .footer-list {
                display: flex;
                flex: 3 0 0;
                align-items: center;
                justify-content: space-around;
                border-right: 1px solid black;
                box-sizing: border-box;

                @include breakpoint(lap){
                    flex: 8;
                    justify-content: flex-end;
                }
                .item {
                    display: flex;

                    @include breakpoint(lap){
                        display: none;
                    }
                    .item-link {
                        padding: 0 1.5rem;
                        line-height: 3;
                        color: black;
                    }
                    .item-social {
                        padding: 0 1rem;
                        .social-img {
                            width: 30px;
                        }
                    }
                }
                .ph-item{
                    @include breakpoint(lap){
                        display: block;
                    }
                }
                
            }
            .footer-subnews {
                position: relative;
                @include flex_center;
                flex: 1 0 0;
                padding: 0.5rem 2rem;

                @include breakpoint(lap){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 16px;
                    padding: 0.5rem 1rem;
                }
                .subnews-input {
                    width: 100%;
                    outline: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid black;

                    @include breakpoint(lap){
                        display: none;
                    }
                }
                .subnews-btn {
                    position: absolute;
                    right: 2rem;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    @include breakpoint(lap){
                        right: 0.875rem;
                    }
                }
            }
        }
    }
}
.fp-watermark{
    display: none;
}