@import "_index.scss";
.main-content {
    .stories-intro {
        @include flex_center;
        background-color: #fffbf6;
        &:first-child{
            @include breakpoint(pad){
                padding-top: 100px;
            }
        }
        &:last-child{
            padding-bottom: 100px;

            @include breakpoint(pad){
                padding-bottom: 0;
            }
        }
        .wrap {
            display: flex;
            max-width: 1400px;
            justify-content: space-between;
            margin: auto;
            padding: 150px 100px 50px;
            box-sizing: border-box;
            @include breakpoint(lap) {
                display: block;
                padding: 0 2rem;
                margin-bottom: 2rem;
            }
            .pic {
                width: 45%;
                max-height: 720px;
                @include breakpoint(lap) {
                    width: 50%;
                    height: 50%;
                    margin: auto;
                }
                img {
                    @include size(100%);
                }
            }
            .text {
                width: 45%;
                max-height: 720px;
                height: 100%;
                padding-right: 2rem;
                overflow-y: scroll;
                @include breakpoint(lap) {
                    width: 100%;
                    padding-top: 1rem;
                }
                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #8c8c8c;
                    border-radius: 5px;
                }
                &::-webkit-scrollbar-button {
                    height: 1rem;
                }
                .title {
                    font-size: calc(1.5rem + 0.6vw);
                    line-height: 2;

                    @include breakpoint(pad){
                        font-size: 1.5rem;
                    }
                }
                .content {
                    font-size: calc(1rem + 0.3vw);
                    line-height: 2;

                    @include breakpoint(pad){
                        padding: 1rem 0.5rem;
                        border-top: 1px solid black;
                        border-bottom: 1px solid black;
                        font-size: 1rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
